.carousel::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    height: 0;
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */


@keyframes navbar {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@media (max-width: 1280px) {
    .max-w-64 {
        max-width: 16rem;
    }

    .navbar.max-w-64 {
        animation-name: navbar;
        animation-duration: .5s;
    }

}

@media (max-width: 640px) {
    .carousel::-webkit-scrollbar {
        width: 0;
        /* Remove scrollbar space */
        height: 5px;
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }

    .carousel::-webkit-scrollbar-thumb {
        background: #303030;
    }
}